body, ul, li, figure, h1, h2, h3, a, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

figure {
  font-size: 0;
}

p {
  white-space: pre-line;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
header {
  width: 100%;
  background-color: #42b6f3;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}
header nav {
  width: 900px;
  margin: auto;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
header nav ul li:nth-of-type(1) a {
  font-size: 30px;
  font-family: "SBAggroB";
}
header nav ul li:nth-of-type(2) {
  width: 25px;
}
header nav ul li:nth-of-type(2) a {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul li:nth-of-type(2) a img {
  width: 100%;
}
header nav ul li a {
  color: #fff;
}

.top {
  background-color: rgba(66, 182, 243, 0.639);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 6%;
  right: 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top span {
  color: #fff;
  font-size: 30px;
}

@media (max-width: 1000px) {
  header nav {
    width: 90%;
  }
  .top {
    display: none;
  }
}
@media (max-width: 480px) {
  header nav ul {
    display: block;
    height: 60px;
  }
  header nav ul li:nth-of-type(1) {
    text-align: center;
  }
  header nav ul li:nth-of-type(1) a {
    font-size: 30px;
    font-family: "SBAggroB";
    line-height: 60px;
  }
  header nav ul li:nth-of-type(2) {
    display: none;
  }
}
.district_wrap {
  width: 100%;
}
.district_wrap .district {
  width: 900px;
  margin: auto;
}
.district_wrap .district .tab {
  overflow-x: scroll;
  padding: 20px 0;
  margin-bottom: 50px;
}
.district_wrap .district .tab::-webkit-scrollbar {
  background-color: #ddd;
  border-radius: 10px;
  height: 10px;
}
.district_wrap .district .tab::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
}
.district_wrap .district .tab ul {
  display: flex;
}
.district_wrap .district .tab ul li {
  margin-right: 10px;
}
.district_wrap .district .tab ul li button {
  border: 1px solid #555;
  width: 90px;
  height: 36px;
  border-radius: 20px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  color: #555;
  cursor: pointer;
}
.district_wrap .district .tab ul li button.btn {
  color: #fff;
  background-color: #555;
}
.district_wrap .district .list .list_title ul {
  display: flex;
  justify-content: space-between;
  background-color: rgba(66, 182, 243, 0.639);
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.05);
  padding: 25px 30px;
}
.district_wrap .district .list .list_title ul li {
  color: #fff;
  font-family: "Pretendard-Regular";
  font-weight: 600;
  font-size: 20px;
  width: 120px;
  text-align: center;
}
.district_wrap .district .list .list_con ul {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.district_wrap .district .list .list_con ul li {
  width: 120px;
  text-align: center;
  padding: 30px 0;
  font-family: "Pretendard-Regular";
  font-size: 17px;
  color: #555;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .district_wrap .district {
    width: 90%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .district_wrap .district {
    width: 90%;
  }
  .district_wrap .district .list .list_title ul {
    padding: 25px 15px;
  }
  .district_wrap .district .list .list_title ul li {
    font-size: 17px;
    width: 75px;
  }
  .district_wrap .district .list .list_con ul {
    padding: 0px 15px;
  }
  .district_wrap .district .list .list_con ul li {
    width: 75px;
    padding: 30px 0;
    font-size: 15px;
  }
}
@media (max-width: 480px) {
  .district_wrap .district {
    width: 90%;
  }
  .district_wrap .district .tab {
    padding: 20px 0;
    margin-bottom: 30px;
  }
  .district_wrap .district .tab ul li {
    margin-right: 10px;
  }
  .district_wrap .district .tab ul li button {
    width: 82px;
    height: 32px;
    font-size: 15px;
  }
  .district_wrap .district .list .list_title ul {
    padding: 25px 20px;
  }
  .district_wrap .district .list .list_title ul li {
    font-size: 15px;
    width: 40px;
  }
  .district_wrap .district .list .list_con ul {
    padding: 0px 10px;
  }
  .district_wrap .district .list .list_con ul li {
    width: 60px;
    padding: 20px 0;
    font-size: 13px;
  }
}/*# sourceMappingURL=district.css.map */