@import "_reset";

.district_wrap{
  width:100%;
  .district{
    width:900px;
    margin: auto;
    .tab{
      overflow-x: scroll;
      padding:20px 0;
      margin-bottom: 50px;
      &::-webkit-scrollbar{
        background-color: #ddd;
        border-radius: 10px;
        height:10px;
      }
      &::-webkit-scrollbar-thumb{
        background-color: #555;
        border-radius: 10px;
      }
      ul{
        display: flex;
        li{
          margin-right: 10px;
          button{
            border: 1px solid #555;
            width:90px;
            height: 36px;
            border-radius: 20px;
            background-color: #fff;
            font-size: 16px;
            font-weight: 600;
            color:#555;
            cursor: pointer;
          }
          button.btn{
            color:#fff;
            background-color: #555;
          }
        }
      }
    }
    .list{
      .list_title{
        ul{
          display: flex;
          justify-content: space-between;
          background-color: rgba(66,182,243,.639);
          border-radius: 10px;
          box-shadow: 4px 4px 15px rgba(0,0,0,.05);
          padding: 25px 30px;
          li{
            color:#fff;
            font-family: 'Pretendard-Regular';
            font-weight: 600;
            font-size: 20px;
            width:120px;
            text-align: center;
          }
        }
      }
      .list_con{
        ul{
          display: flex;
          justify-content: space-between;
          padding: 0px 30px;
          align-items: center;
          border-bottom:1px solid #ddd;
          li{
            width:120px;
            text-align: center;
            padding:30px 0;
            font-family: 'Pretendard-Regular';
            font-size: 17px;
            color:#555;
          }
        }
      }
    }
  }
}

@media (min-width:768px) and (max-width:1000px){
  .district_wrap{
    .district{
      width:90%;
    }
  }
}
@media (min-width:480px) and (max-width:768px){
  .district_wrap{
    .district{
      width:90%;
      .list{
        .list_title{
          ul{
            padding: 25px 15px;
            li{
              font-size:17px;
              width:75px;
            }
          }
        }
        .list_con{
          ul{
            padding: 0px 15px;
            li{
              width:75px;
              padding:30px 0;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
@media (max-width:480px){
  .district_wrap{
    .district{
      width:90%;
      .tab{
        padding:20px 0;
        margin-bottom: 30px;
        ul{
          li{
            margin-right: 10px;
            button{
              width:82px;
              height: 32px;
              font-size: 15px;
            }
          }
        }
      }
      .list{
        .list_title{
          ul{
            padding: 25px 20px;
            li{
              font-size:14px;
              width:40px;
            }
          }
        }
        .list_con{
          ul{
            padding: 0px 10px;
            li{
              width:60px;
              padding:20px 0;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}